package components

templ Footer() {
	<div class="container">
		<small>Copyright &copy; Waseisyouji Co., Ltd. All rights reserved.</small>
	</div>
	<style type="text/css">
		#footer {
			background-color: var(--primary-6);
			color: var(--primary-3);
		}
		#footer .container {
			padding: 1rem 0;
			text-align: center;
		}
	</style>
}
