package components

templ Header() {
	<div class="container">
		<a href="/" class="logo">
			<h1>Logo</h1>
		</a>
		<nav class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
}
