@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* カラー */
  --black: hsl(28, 26%, 11%);
  --white: hsl(47, 32%, 88%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 90%);
  --dark-gray: hsl(0, 0%, 30%);
  /* パレット カラー */
  --primary-1: hsl(44, 31%, 36%);
  --primary-2: hsl(49, 61%, 51%);
  --primary-3: hsl(47, 32%, 88%);
  --primary-4: hsl(52, 48%, 68%);
  --primary-5: hsl(28, 26%, 11%);
  --primary-6: hsl(30, 27%, 24%);

  --bg-color: var(--primary-3);
  --text-color: var(--black);
}

/* ---- reset start ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* ---- reset end ---- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif','Noto Serif JP', serif;
}

.container {
  padding: 0 1rem;
}

.material-symbols-outlined {
  font-size: 54px;
  font-weight: 300;
}